In [1]:
for i in range(2,10):        
    for j in range(1, 10):   
         print(i*j, end=" ") 
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

## 파이썬 입출력

### 함수

In [2]:
def add(a, b): 
    return a + b
a = 3
b = 4
c = add(a,b)
print(c)

7

In [3]:
def add(a, b): 
    result = a + b 
    return result
a = add(3,4)
print(a)

7

In [4]:
def say(): 
    return 'Hi'

In [5]:
say()

'Hi'

In [7]:
def add(a, b): 
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [8]:
add(3,4)

3, 4의 합은 7입니다.

In [9]:
a = add(3,4)
print(a)

3, 4의 합은 7입니다.
None

In [10]:
def sub(a, b):
    return a - b

In [11]:
result = sub(a=7, b=3)
print(result)

4

In [12]:
result = sub(b=5, a=3)
print(result)

-2

In [14]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    
    return result

In [16]:
result = add_many(1,2,3)
print(result)

6

In [18]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [22]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [23]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [24]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

In [25]:
def print_kwargs(**kwargs):
    print(kwargs)

In [26]:
print_kwargs(a=1)

{'a': 1}

In [27]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

In [31]:
def add_and_mul(a,b):
    return a+b, a*b
result = add_and_mul(3,4)
result

(7, 12)

In [35]:
def add_and_mul(a,b): 
    return a+b 
    return a*b 
result

(7, 12)

In [36]:
result = add_and_mul(2, 3)
print(result)
#리턴값을 만나는 순간 리턴값을 돌려 준 다음 함수를 빠져 나간다

5

In [39]:
def say_nick(nick): 
    if nick == "바보": 
        return
    print("나의 별명은 %s 입니다." % nick)
say_nick('멍충')

나의 별명은 멍충 입니다.

In [40]:
def say_myself(name, age, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % age) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")

In [41]:
say_myself("김용규", 27) #남자 : 디폴트값

나의 이름은 김용규 입니다.
나이는 27살입니다.
남자입니다.

In [42]:
say_myself("김용규", 27, False)

나의 이름은 김용규 입니다.
나이는 27살입니다.
여자입니다.

In [43]:
a = 1
def vartest(a):
    a = a +1

vartest(a)
print(a)

1

In [47]:
hello = 1
def vartest(hello):
    hello = hello + 1

vartest(hello)
print(hello)

1

In [45]:
def vartest(a):
    a = a + 1

vartest(3)
print(a)

1

In [48]:
a = 1 
def vartest(a): 
    a = a +1 
    return a

a = vartest(a) 
print(a)

2

In [49]:
a = 1 
def vartest(): 
    global a 
    a = a+1

vartest() 
print(a)

2