## 파이썬 반복문

In [1]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [2]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [3]:
print("A")
print("B")
print("C")

A
B
C

In [4]:
변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

In [5]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [6]:
변수 = "A"
b = 변수.lower()
print("변환:", b) #라인1
변수 = "B"
b = 변수.lower()
print("변환:", b) #라인2
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [7]:
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [8]:
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [9]:
for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [10]:
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [11]:
for 변수 in [1, 2, 3, 4]: #어떤 데이터가 들어가도 상관없나..? 
  print("-------")

-------
-------
-------
-------

In [ ]:
## 130~140번까지 /평일 하루 10문제라도 "풀이 최대한 안보고" 풀어보기

In [2]:
#141
리스트 = [100, 200, 300]
for 변수 in 리스트:
    print(변수 + 10)

110
210
310

In [3]:
#142
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
    print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [4]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
    print(len(종목명))

6
4
4

In [5]:
#144
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
    print(이름, len(이름))

dog 3
cat 3
parrot 6

In [6]:
#145
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
    print(이름[0])

d
c
p

In [7]:
#146
리스트 = [1, 2, 3]
for 변수 in 리스트:
    print("3 x", 변수)

3 x 1
3 x 2
3 x 3

In [8]:
#147
리스트 = [1, 2, 3]
for 변수 in 리스트:
    print("3 x {} = {}".format(변수, 3 * 변수))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [9]:
#148
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[1:]:
    print(변수)

나
다
라

In [10]:
#149
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :2]:
    print(변수)

가
다

In [11]:
#150
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :-1]:
    print(변수)

라
다
나
가

In [12]:
#151
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i<0: print(i)

-20
-3

In [13]:
#152
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i%3==0: print(i)

3

In [14]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i<20 and i%3==0:
        print(i)

12
18

In [15]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >=3:
        print(i)

study
python
language

In [16]:
#155
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [19]:
#156
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
    if not 변수.isupper():
        print(변수)

b
c

In [20]:
for 변수 in 리스트:
    print(변수[0].upper() + 변수[1:])

A
B
C
D

In [21]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
    split = 변수.split(".")
    print(split[0])

hello
ex01
intro

In [22]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
    split = 변수.split(".")
    if split[1] == "h":
        print(변수)

intra.h
define.h

In [23]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
    split = 변수.split(".")
    if (split[1] == "h") or (split[1] == "c"):
        print(변수)

intra.h
intra.c
define.h

In [ ]:
##반복문 160번까지 완료 매일 10문제씩 풀기

In [ ]:
#161

In [ ]:
for i in range(100):
    print(i)

In [3]:
#162
for y in range(2002, 2051, 4) :
    print (y)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [4]:
#163
for num in range(3, 31, 3):
    print (num)

3
6
9
12
15
18
21
24
27
30

In [ ]:
#164
for i in range(100):
    print(99 - i)

In [9]:
#165
for num in range(10) :
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [10]:
#167
for i in range(1, 10) :
    print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

In [12]:
#168
sum = 0
for i in range(1, 11):
    sum += i
print ("합 :", sum)

합 : 55

In [14]:
#169
sum = 0
for num in range(1, 11, 2):
    sum += num
print("합 : ", sum)

합 :  25

In [15]:
#170
multi = 1
for num in range(1, 11):
     multi *= num
print(multi)

3628800

In [17]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [18]:
#172
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [20]:
#173
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(3 - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [21]:
#173 정답 풀이
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [22]:
#174
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [25]:
#175
my_list = ["가", "나", "다", "라"]
for i in range( len(my_list) - 1 ) :
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [27]:
#176
my_list = ["가", "나", "다", "라", "마"]
for my in range(2, len(my_list)):
    print(my_list[my-2], my_list[my-1], my_list[my])

가 나 다
나 다 라
다 라 마

In [28]:
#177
my_list = ["가", "나", "다", "라"]
for my in range(len(my_list) -1):
     print(my_list[len(my_list)-1 -my], my_list[len(my_list)-2-my])

라 다
다 나
나 가

In [29]:
#178
my_list = [100, 200, 400, 800]
for i in range(len(my_list) - 1):
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [30]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(1, len(my_list) - 1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [34]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []

for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])

print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
#1204 180번까지 끝 내일 200번까지