# 초보자들을 위한 파이썬 300제

## 파이썬 시작하기

In [1]:
#화면에 Hello World 문자열을 출력하세요.
print('hello world')

hello world

In [3]:
#화면에 Mary's cosmetics을 출력하세요.
print("Mary's cosmetics")

Mary's cosmetics

In [4]:
#신씨가 소리질렀다. "도둑이야". 를 출력
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [6]:
#화면에 C:\Windows를 출력하세요. 백슬래시 원화표시
print("C:\windows")

C:\windows

In [8]:
#print("안녕하세요.\n만나서\t\t반갑습니다.") \t와 \n의 역할을 설명
#T탭, N줄바꿈

In [1]:
print ("오늘은", "일요일")

오늘은 일요일

In [8]:
#print() 함수를 사용하여 naver;kakao;sk;samsung 를 출력
print(";".join(['naver','kakao','sk','samsung']))

naver;kakao;sk;samsung

In [3]:
print("first", end=""); print("second")

firstsecond

In [4]:
print(5/3)

1.6666666666666667

## 파이썬 변수

In [1]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [5]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [6]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [7]:
2 + 2 * 3

8

In [18]:
a = "132"
print(type(a))

<class 'str'>

In [17]:
num = 100
result = str(num)
print(int(num_str))

720

In [19]:
num = 100
print(str(num))

100

In [20]:
str = "15.79"
print(float(str))

15.79

In [21]:
year = "2020"
num = int(year)
print(num, num-1, num-2)

2020 2019 2018

In [22]:
month = 48584
duration = 36
total = month * duration
print(total)

1749024

## 파이썬 문자열

In [24]:
letters = 'python'
print(letters[0],letters[2])

p t

In [25]:
license_plate = "22가 2210"
print(license_plate[-4:])
print(license_plate[4:])

2210
2210

In [27]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [29]:
print(string[::-1])

NOHTYP

In [30]:
phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))

010 1111 2222

In [31]:
phone_number = "010-1111-2222"
print(phone_number.replace("-",""))

01011112222

In [32]:
url = "http://sharebook.kr"
print(url.split(".")[1])

kr

In [33]:
lang = 'python'
lang[0] = 'P'
print(lang)
#문자열 수정 불가

TypeError: 'str' object does not support item assignment

In [34]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [35]:
string = 'abcd'
string.replace('b', 'B')
print(string)
#그대로 출력 / 문자열은 수정이 불가능

abcd

In [36]:
a = "3"
b = "4"
print(a + b)
#34로 합쳐짐 / 문자열로 지정

34

In [37]:
print("Hi" * 3)
#HiHiHi / 문자열의 반복

HiHiHi

In [38]:
print("-" * 80)

--------------------------------------------------------------------------------

In [39]:
t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [40]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [41]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [42]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [43]:
stock = "5,969,782,550"
print(int(stock.replace(",","")))

5969782550

In [44]:
quarter = "2020/03(E) (IFRS연결)"
print(quarter[:7])

2020/03

In [46]:
data = " 삼성전자 "
print(data.strip())

삼성전자

In [47]:
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [48]:
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

In [50]:
a = "hello"
a = a.capitalize()
a

'Hello'

In [51]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [52]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [53]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [54]:
a = "hello world"
a.split()

['hello', 'world']

In [55]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [56]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [60]:
data = "039490     "
print(data.rstrip())
#

039490

## 파이썬 리스트

In [62]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [65]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [66]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [67]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [68]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [69]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [70]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [71]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [72]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [73]:
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

In [74]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [75]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [76]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [77]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [78]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [79]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [80]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [81]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [82]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [83]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [84]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [85]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [90]:
##73??

In [ ]:
#튜플은 값 변경 불가능(문자?모든 값?)

In [ ]:
#75

In [ ]:
#76

In [91]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print(type(data))

<class 'list'>

In [92]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(type(data))

<class 'tuple'>

In [93]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [94]:
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

## 파이썬 딕셔너리

In [1]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [2]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [3]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [5]:
temp = { }
print(temp, type(temp))

{} <class 'dict'>

In [6]:
ice = {'메로나': 1000, '폴라포': 1200, '빵빠레':1800}
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [7]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [8]:
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [12]:
ice["메로나"] = 1300
print(ice["메로나"])

1300

In [13]:
ice['죠스바'] = 1200
ice['월드콘'] = 1500

In [14]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#90
#>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
#icecream['누가바']
#Traceback (most recent call last):
  #File "<pyshell#69>", line 1, in <module>
    #icecream['누가바']
#KeyError: '누가바'
# 딕셔너리에 없는 키 사용

In [15]:
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [16]:
print(inventory["메로나"][0], "원")

300 원

In [17]:
print(inventory["메로나"][1], "개")

20 개

In [18]:
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [19]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [20]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values())
print(price)

[1200, 1200, 1800, 1500, 1000]

In [21]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [22]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [23]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [24]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}